<html>
    <title>New Project</title>
    <head>  
        <meta charset ="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
     
        <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href ="/../Style.css">
        
       

    </head>
            <body>

            

                <div class="BG-image">
                
                <header class="header">
                    <a href="#" class="logo"></a>
                    <input type="checkbox" id="check">
                    <label for="check" class="icons">
                        <i class='bx bx-menu' id="menu-icon"></i>
                        <i class='bx bxs-x-circle' id="close-icon"></i>
                    </label>
                    <nav class="navbar">
                        <a href="/" style="--i:0;">Home</a>
                        <a href="#" style="--i:1;">Book</a>
                        <a href="#" style="--i:2;">View Room</a>
                        <a href="#" style="--i:3;">Contact us</a>
                    </nav>
                </header>
<!--             
                <H1>Bella's Place</H1>
                     -->
            </div>
            <br>
                <h2 class="rating">How our client stay in Bella's Place</h2>
            <div class="container">
            <section class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="rating/Lebron.jpg">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Lebron James</span>
                            <span class="card_name">Basketball Superstar</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                                <div class="stars">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="/rating/jordan.jpg">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Michael jordan</span>
                            <span class="card_name">Basketball Superstar</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="/rating/mia.jpg">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Mia Khalifa</span>
                            <span class="card_name">Adult Superstar</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="/rating/drake.jpg">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Drake</span>
                            <span class="card_name">Rapper</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="/rating/Robert Downey Jr.jpg">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Robert Downey</span>
                            <span class="card_name">Actor</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="/rating/AngelLocsin.webp">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Angel Locsin</span>
                            <span class="card_name">Actress</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="card_image"><img src ="/rating/luffy.jpg">
                        </div>
                        <div class="card_content">
                            <span class="card_title">Monkey D Luffy</span>
                            <span class="card_name">Pirate</span>
                            <span class="card_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias enim vel maiores repudiandae odit, cumque quos tempora quidem voluptas, facere laudantium distinctio dolor nam neque amet sed magnam sequi molestiae.</span>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <button class="card_btn">View More</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <br>

        <div class="container-gallery">
            <div id="slide">
                <div class="item" style="background-image: url(/Trees/Pool.jpg);">
                    <div class="content">
                        <div class="name">Pool at Night</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/Trees/Pool-day.jpg);">
                    <div class="content">
                        <div class="name">Pool Area</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/Trees/lobby.jpg);">
                    <div class="content">
                        <div class="name">Lobby</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/Trees/lobby2.jpg);">
                    <div class="content">
                        <div class="name">Lobby</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/Trees/garden.jpg);">
                    <div class="content">
                        <div class="name">Garden Area</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/Trees/post.jpg);">
                    <div class="content">
                        <div class="name">Direction</div>
                        <div class="des">Tinh ru anh di chay pho, chua kip chay pho thi anhchay mat tieu</div>
                        <button>See more</button>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
                <button id="next"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        <br>



        <section class="footer">
            <label>AAAAAAAAAA</label>

        </section>

<!-- Include server setup -->
<!-- Include server setup -->

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/script.js" type="module"></script>
<script src="/server.js" type="module"></script>




            </body>
       

</html>